*{
    font-family: sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7f99;
    height: 100px;
    padding: 0 100px ;
}

body {
    background-color: white;
}

main {
    background-color: white;
    height: 500px;
}

footer {
    background-color: #ff7f99;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.700);
}
footer p{
    margin:1em ;
}
footer img{
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

#logo a {
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
}

#crisimg{
    display: flex;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

#nav-ul {
    padding: 10px;
    display: flex;
    align-items:center ;
    justify-content: space-between ;
    list-style: none;
    gap: 20px;
}

#flex-container div {
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 10%;
    text-align: center;
    padding-top: 20px;
}

#flex-container {
    background-color: #ff7f99;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}


#right-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#button{
   background-color: #FFCA41 ;
   border: #ff7f99;
   border-radius: 10%;
   font-size: medium;
}

#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#img-main{
    width: 400px;
    height: 400px;
}

#tittle{
    font-size: 50px;
}
