header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    background-color: #ff7f99;
    height: 100px;
}

body {
    background-color: yellow;

}

main {
    background-color: white;
    height: 500px;
}

footer {
background-color: #ff7f99;
height: 300px;

}


#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
#navbar{
    border: solid black 1px;


}


